@import url('./style/colors.css');



.image-electric-engineer {
    background: url('./img/elec-wall.png');
}

.image-it-engineer {
    background: url('./img/it-wall.png');
}

.image-plumber{
    background: url('./img/plumber-wall.png');
}